@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
body {font-family: 'Source Sans Pro', sans-serif;}

.blog-header, .blog-post, .blog-pagination {
  margin-bottom: 2rem;
}

/* Make sure the image size is reasonable. */
.blog-post img {
  max-width: 100%;
}

img[src$='#center']
{
    display: block;
    margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
}

img[src$='#floatleft']
{
    float:left;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

img[src$='#floatright']
{
    float:right;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}


html {
  scroll-behavior: smooth;
}



.navbar-xyz {
        /*background-color: rgb(255, 255, 255, .9);
        border-bottom: 1px solid rgb(55, 55, 55, .4);*/
    background-color: rgb(255, 255, 255, .9);
    border: none;
    -webkit-box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.1);
    min-height: 50px;
    padding: 5px 0;

      }
      
/* headroom.js ------------------------ */

.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}

.table {
  font-size: .8em;
}

.smaller-text {
  font-size: .8em;
}


.container_960 {
  max-width: 1380px; 
  margin: auto;
}


.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    color: #000000;
}



.nav-pills>li.active>a, 
.nav-pills>li.active>a:hover, 
.nav-pills>li.active>a:focus {
  color: #ffffff;
  background-color: #80004f;
}


/*Otsikko-koot*/

.display-4 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

h1 {
  font-size: 32px;
  scroll-margin-top: 5em;
  font-weight: 400;
}

h2 {
  font-size: 28px;
  scroll-margin-top: 4em;
  font-weight: 400;
}

.blog-post-title {
  font-weight: 300;
  }

h3 {
  font-size: 20px;
  font-weight: 300;
}

h4 {
  font-size: 16px;
  font-weight: 300;
}

h5 {
  margin-top: 0px;
}




.plot {
margin-top: 20px;
margin-bottom: 20px;
height: auto;
border:2px solid #fff;
box-shadow: 2px 2px 3px #ccc;
-moz-box-shadow: 2px 2px 3px #ccc;
-webkit-box-shadow: 2px 2px 3px #ccc;
-khtml-box-shadow: 2px 2px 3px #ccc;
}



.card {
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
border: 1px solid rgba(0, 0, 0, 0.125);
}

.card > hr {
margin-right: 0;
margin-left: 0;
}

.card-body {
-webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
min-height: 1px;
padding: 1.25rem;
}

.card-title {
margin-bottom: 0.75rem;
}

.card-subtitle {
margin-top: -0.375rem;
margin-bottom: 0;
}

.card-text:last-child {
margin-bottom: 0;
}

.card-link:hover {
text-decoration: none;
}

.card-link + .card-link {
margin-left: 1.25rem;
}

.card-header {
padding: 0.75rem 1.25rem;
margin-bottom: 0;
background-color: rgba(0, 0, 0, 0.03);
border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header + .list-group .list-group-item:first-child {
border-top: 0;
}

.card-footer {
padding: 0.75rem 1.25rem;
background-color: rgba(0, 0, 0, 0.03);
border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.bg-primary {
background-color: #003580 !important;
}

.border-primary {
border-color: #003580 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
background-color: #003580 !important;
}

.fab {
  color: #393939;
}

.share-links {
  padding-top: 40px;
}

.automagia {
  color: black;
}
